header {
  background-color: #02052c;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 160px;
}

header > img {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.avatar_name {
  color: white;
}

.profile {
  margin: 10px 0;
}

@media only screen and (min-width: 1024px) {
  header {
    margin-top: 400px;
    margin-left: 60px;
    height: 600px;
    width: 33.3%;
    float: left;
  }
}


