header {
  background: rgba(90, 78, 10, 0.7);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 120px 0 0 0;
}

header > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.avatar_name {
  color: white;
}

/* .avatar_name > h2 > span {
}  */

/* .header {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #54514e;
  padding-top: 6em;
  color:rgb(84, 196, 166);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  .header-avatar{
    max-width:200px;
  }
  .header-avatar img {
    width: 100%;
  }
  


article.tweet-received header, article.tweet-received footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

article.tweet-received header div {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
  .text-received {
    display: flex;
    width: 100%;
    padding-top: 30px;
    border-bottom: 3px solid rgb(74, 75, 74);
    resize: none;

  }
  .avatar {
    display: flex;
    width: 100%;
    color: dimgray;
    padding-bottom: 10px;
  }
  .icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    opacity: .7;
    align-content: space-between;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
  }
  .flag:hover {
    opacity: .7;
    cursor: pointer;
}
  .retweet:hover {
    opacity: .7;
    cursor: pointer;
  }
  .like:hover {
    opacity: .7;
    cursor: pointer;
}
.new-user {
  font-family: sans-serif;
  opacity: .6;
  
}
.box {
    border: 3px solid rgb(74, 75, 74);
  padding: 50px;
  margin: 20px;
}


#error-empty {
  display: none;
  color: red;
  font-family: sans-serif;
  
}

#error-counter {
  display: none;
  color: red;
  font-family: sans-serif;
}
   */